.proListPanel{
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* z-index: 100; */
  /* left: 0;
    top: 0; */
}
.proListTable{
  /* margin: 50px; */
}

.buildingLabel {
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, 0) url(/textures/label.png);
  background-size: cover;
}
.tableCell{
  height: 10px;
}
.el-table .cell {
  overflow: visible;
  
  /* overflow-y: scroll; */
}
.el-button{
  font-size: 17px;
  /* width: ; */
}
#rootTree{
  float: left;
  /* background-color: blue; */
  height: 85%;
  width: 60%;
}
#proListData{
  float: left;
  /* background-color: red; */
  /* border-left: solid rgba(179, 179, 179, 1) 3px; */
  height: 100%;
  width: 100%;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px; */
}
.pagination{
  position: absolute;
  bottom: 10px;
}
#proListPanelDiv{
  position: relative;
}